.transactionTable {
  width: 350px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.tableHeader {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f2f2f2;
  border: 1px solid black;
  padding: 8px;
}

.tableCell {
  border: 1px solid black;
  padding: 8px;
}

.tableInformation {
  background-color: rgba(0, 0, 0, 0.2);
}

.tableInformation:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0);
}
